validate_session_root: false
default_session:
  - commands:
    - vim .
  - commands:
    - git pull
sessions:
  dotfiles:
    root: "~/dotfiles"
    windows:
      - commands:
        - vim .
      - commands:
        - git pull
        - sudo nix flake update
        - sudo nixos-rebuild switch --flake .#piquel --upgrade
        - nixos-rebuild switch --flake .#pi --target-host piquel@remote.piquel.fr --sudo --ask-sudo-password --no-reexec
      - commands:
        - ssh piquel@remote.piquel.fr
  secrets:
    root: "~/secrets"
    windows:
      - commands:
        - vim .
      - commands:
        - git pull
  vps-setup:
    root: "~/Projects/vps-setup"
    windows:
      - commands:
        - vim .
      - commands:
        - git pull
        - docker --context default compose up -d
      - commands:
        - ssh piquel@piquel.fr
  piquel-fr:
    root: "~/Projects/piquel-fr"
    windows:
    - commands:
        - vim .
    - commands:
        - git pull
    - commands:
        - deno install
        - deno task dev
  piquel-api:
    root: "~/Projects/piquel-api"
    windows:
      - commands:
        - vim .
      - commands:
        - git pull
      - commands:
        - air
  piqueld:
    root: "~/Projects/piqueld"
    windows:
      - commands:
        - vim .
      - commands:
        - git pull
  piquel-cli:
    root: "~/Projects/piquel-cli"
    windows:
      - commands:
        - vim .
      - commands:
        - git pull
  steam:
    root: "~"
    windows:
      - commands:
        - steam
  hytale:
    root: "~/Projects/Hytale"
    windows:
      - commands:
        - cd HytalePlugin
        - git pull
        - vim .
      - commands:
        - cd HytalePlugin
        - ./gradlew build
      - commands:
        - flatpak --user run com.hypixel.HytaleLauncher
        - cd Config
        - vim .
      - commands:
        - cd Server
        - java -jar HytaleServer.jar --assets ../Assets.zip
  dirkengine:
    root: "~/Projects/DirkEngine"
    windows:
      - commands:
        - vim .
      - commands:
        - git pull
        - make
  catan:
    root: "~/Projects/Catan"
    windows:
      - commands:
        - vim .
      - commands:
        - git pull
      - commands:
        - ~/Projects/UnrealEngine/Engine/Binaries/Linux/UnrealEditor ~/Projects/Catan/Catan.uproject
  dirk:
    root: "~/Projects/Dirk"
    windows:
      - commands:
        - vim .
      - commands:
        - git pull
  homework:
    root: "~/homework"
    windows:
      - commands:
        - vim .
      - commands:
        - git pull
  openmc:
    root: "~/Projects/OpenMC"
    windows:
      - commands:
        - cd PluginV2
        - vim .
      - commands:
        - cd PluginV2
        - git pull
        - ./gradlew shadowJar
      - commands:
        - cd ItemsAdder
        - git pull
        - cd ../Server
        - vim .
      - commands:
        - cd Server
        - ./start.sh
  screenshots:
    root: "~/Pictures/Screenshots"
    windows:
      - commands:
        - git pull
        - yazi
