* {
    font-family: Inter Medium;
}

#window {
    margin: 1px;
    border: 1px solid #7aa2f7;
    background: rgb(29, 32, 47);
    opacity: 0.9;
    border-radius: 10px;
}

#outer-box {
    margin: 3px;
    padding: 20px;
    border-radius: 10px;
}

#input {
    margin: 5px;
    border-radius: 0px;
    border: none;
    border-bottom: 0px solid #c0caf5;
    background-color: #1d202f;
    color: #c0caf5;
}

#inner-box {
    margin: 5px;
    background-color: #1d202f;
}

#entry:selected {
    background-color: #414868;
}

#text {
    margin: 5px;
    color: #c0caf5;
    opacity: 1;
}

#text:selected {
    opacity: 1;
    text-decoration-color: #c0caf5;
}
